# Ignore virtualenv folder.
virtual_assimulo

# Ignore uncompressed sources folders.
Assimulo-*
sundials*

# Ignore pychache folder.
__pycache__

# Ignore LaTeX auxiliary files.
*.aux
*.log

# Ignore main pdf file.
TeX/fmnn05.pdf

# Ignore generated tex includes.
TeX/includes
